**/bin/
**/obj/
artifacts/
.vs/
.idea/
.nuke/temp/
*.user
*.suo
appsettings.Local.json
.env
/workspace-access.config
temp/
/ssh_key/
/.cr/
/coredump*.txt
HomeLab_Web_Podman_Current_Config_2026-09-04 .md
